* {
	/* background-color: white; */
	margin: 0 auto;
	box-sizing: border-box;
	padding: 0;
	font-size: 32px;
	font-weight: bolder;
	font-family: cursive;
}
body {
	/* //display: grid; */
	width: 100vw;
	height: 100vh;
	background-color: rgb(167, 141, 190);
	/* grid-template-rows: 60%; */
}
.content {
	display: grid;
	
	width: 100%;
	grid-gap: 50px;
	grid-template-rows: 0.5fr 0.5fr 2fr 2fr;
	justify-items: stretch;
	height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;

	/* background-color: burlywood; */
}

.userInteraction {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;

	padding-top: 100px;
	width: 100%;

	/* background-color: rgb(87, 87, 126); */
}

.display {
	display: flex;
	justify-content: space-between;
	padding: 10px;
	width: 100%;
	flex-direction: row;
	flex-wrap: wrap;
}

.s-player {
	flex-direction: column;

	color: rgb(12, 11, 11);
	display: flex;
}
.l-player {
	flex-direction: column;

	color: rgb(15, 6, 6);
	display: flex;
}
.l {
	color: rgb(14, 8, 8);
}
canvas{width:800px;
height:800px;}